@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  h1 {
    @apply text-2xl font-bold text-title;
  }
  h2 {
    @apply text-sm text-subTitle;
  }
  input {
    @apply rounded-md px-2 py-1;
    display: block;
    width: 100%;
    border: 1px solid #d8d6de;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  input:focus {
    background-color: #fff;
    border-color: 1px solid #0d2643;
    box-shadow: 0 3px 10px 0 rgba(34, 41, 47, 0.1);
  }
}

@layer components {
  .shadowBtn {
    box-shadow: 0 8px 25px -8px #0d2643;
  }
  .shadowPanels {
    box-shadow: 0 4px 24px #22292f1a;
  }
  .logoTitle {
    @apply text-2xl font-bold text-primary;
  }
  .btn {
    @apply px-4 py-1 text-lg rounded-md transition hover:shadowBtn;
  }
  .btn-primary {
    @apply bg-primary text-white dark:bg-secondary dark:text-primary;
  }
  .navbar {
    @apply flex items-center justify-between  shadowPanels rounded-md my-5 mx-5 px-3 py-4 bg-white;
    min-height: 4.45rem;
    transition: 0.3s ease all, background 0s;
  }
  .menuItem {
    @apply flex items-center m-0 px-0 py-2 text-base font-normal  rounded-md mx-0 hover:text-secondary;
  }
  .menuItemActive {
    @apply text-primary bg-secondary opacity-60 hover:text-primary hover:opacity-100;
    box-shadow: 0 0 10px 1px #f4c60cb3;
  }
  .menuItemNormal {
    @apply text-textMenu;
  }
}
